<template>
  <div class="App" :class="{ 'App--dark': darkTheme }">
    <h1>Tell them what you want</h1>

    <SalaryDisplay class="App__Salary" />

    <footer class="App__Footer">
      <button
        class="Salary__Theme"
        title="Toggle Theme"
        @click="darkTheme = !darkTheme"
      >
        Toggle theme
      </button>
      Made with ❤️ by Thomas de Saint Exupery, more on
      <a href="https://gitlab.com/dolmen-public">Dolmen public</a>
    </footer>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import SalaryDisplay from './SalaryDisplay.vue'
const darkTheme = ref(
  matchMedia('(prefers-color-scheme: dark)')?.matches ?? false
)
</script>

<style lang="scss">
@use 'assets/base.scss';
@use 'src/assets/colors' as c;

/* semantic color variables for this project */
.App {
  @include c.lightTheme();
  &--dark {
    @include c.darkTheme();
  }
  background: var(--color-background);
  color: var(--color-text);
  display: grid;
  grid-template-areas:
    'title'
    'main'
    'footer';
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  height: 100vh;

  &__Salary {
    grid-area: main;
  }

  &__Footer {
    grid-area: footer;
    padding: 1rem;
  }
}
</style>
