<template>
  <main class="Salary">
    <label class="Salary__Input"
      >Minimum salary
      <input v-model="minimumSalary" type="number" />
    </label>

    <label class="Salary__Input">
      Decent salary
      <input v-model="okSalary" type="number" />
    </label>

    <label class="Salary__Input">
      Fabulous salary
      <input v-model="fantasticSalary" type="number" />
    </label>

    <div class="Salary__Meter">
      <div
        :class="`Salary__Amount Salary__Amount--${salary.level.value}`"
        v-for="salary of salaries"
        :key="salary.amount"
        :title="`${salary.amount} €`"
      >
        <span class="Salary__AmountCube" />
        <span class="Salary__AmountNumber">{{ salary.amount }}&nbsp;€</span>
      </div>
    </div>
  </main>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'

const minimumSalary = ref(32000)
const okSalary = ref(40000)
const fantasticSalary = ref(65000)

const granularity = computed(
  () => (fantasticSalary.value - minimumSalary.value) / 10
)

enum AmountLevel {
  acceptable = 'acceptable',
  decent = 'decent',
  fabulous = 'fabulous',
}

class Salary {
  amount = 0

  constructor(amount?: number) {
    if (amount) this.amount = amount
  }

  level = computed<AmountLevel>(() => {
    if (this.amount < okSalary.value) return AmountLevel.acceptable

    if (this.amount < fantasticSalary.value) return AmountLevel.decent

    return AmountLevel.fabulous
  })
}

const salaries = computed(() => {
  const amounts: Salary[] = []
  for (let i = 0; i <= 12; i++) {
    const salary = new Salary(minimumSalary.value + i * granularity.value)
    if (
      salary.amount <= okSalary.value &&
      salary.amount + granularity.value >= okSalary.value
    ) {
      salary.amount = okSalary.value
    }
    amounts.push(salary)
  }
  return amounts
})
</script>

<style lang="scss">
@mixin salaryGroup($icon, $color) {
  .Salary__AmountCube {
    background-color: $color;
  }
  &::before {
    content: $icon;
    font-size: 1.5rem;
    justify-self: center;
  }

  & ~ & {
    &::before,
    .Salary__AmountNumber {
      visibility: hidden;
    }
  }
}

/* semantic color variables for this project */
.Salary {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 2rem;
  gap: 2rem;

  &__Theme {
    align-self: end;
  }

  &__Input {
    display: inline-grid;
    grid-template-columns: 10rem 8rem;

    input {
      text-align: right;
      background-color: transparent;
      border: none;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);

      color: var(--color-text);

      &::after {
        content: '€';
      }
    }
  }

  &__Meter {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 2rem;
  }

  &__Amount {
    $width: 2rem;
    $amountRoot: &;
    display: grid;
    grid-template-columns: $width;
    width: $width;

    &Cube {
      width: $width;
      height: $width;
      border-radius: 0.25rem;
    }

    &--acceptable {
      @include salaryGroup('😐', orange);
    }

    &--decent {
      @include salaryGroup('😀', green);
    }

    &--fabulous {
      @include salaryGroup('🤩', cornflowerblue);
    }
  }
}
</style>
